@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-highlight: #d4b254;
  --color-hover: #c8a74b;
  --color-title: #222222;
  --color-icon: #000000;
  --color-inactive: #eeeeee;
  --color-body: #777777;
  --color-success: #77ff77;

  --spacing-wrapper: 1300px;
  --spacing-gutter: 20px;

  --radius-pill: 9999px;
  --title-size: 42px;
}

@layer components {
  .btn-primary {
    @apply bg-highlight text-white rounded-[var(--radius-pill)] px-10 py-3 uppercase text-[15px] hover:bg-hover transition cursor-pointer shadow-sm;
  }
  .btn-primary-outline {
    @apply border border-highlight text-highlight rounded-[var(--radius-pill)] px-10  py-3 uppercase text-[15px] hover:bg-hover hover:text-white transition cursor-pointer;
  }
  .btn-dark-outline {
    @apply bg-transparent border border-white rounded-[var(--radius-pill)] px-8 py-3 text-white hover:bg-white hover:text-icon text-[15px] tracking-wider uppercase transition-colors flex items-center space-x-2 cursor-pointer;
  }

  .btn-cart {
    @apply bg-transparent border border-white rounded-[var(--radius-pill)] text-white hover:bg-white hover:text-icon tracking-wider uppercase transition-colors flex items-center space-x-2 cursor-pointer font-light text-[13px];

    @apply px-3 py-2 md:px-8 md:py-2 border-0 md:border;
  }

  .nav-item {
    @apply text-white hover:text-gray-900 font-light text-sm tracking-wider uppercase transition-colors text-[13px];
  }

  /* footer */
  .footer-heading {
    @apply text-2xl font-semibold text-white capitalize mb-8;
    letter-spacing: 0;
  }

  .footer-link {
    @apply text-[13px] text-white uppercase tracking-wider font-light;
    letter-spacing: 3px;
  }

  .footer-list {
    @apply mt-5 space-y-2;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .nav-arrow {
    position: absolute;
    top: 0;
    @apply border border-highlight text-highlight rounded-[var(--radius-pill)] p-4  hover:bg-hover hover:text-white transition cursor-pointer;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

body {
  @apply text-body bg-white;
  font-family: 'Roboto', sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
